body {
  margin: 0;
  background: #eee;
  font-family: Roboto, sans-serif;
}
.header-hero {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 60px;
    background: #1f2937;
}   
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
}
.header .links {
    display: flex;
    align-items: center;
    font-size: 18px;
}
ul {
  display: flex;
  align-items: center;
  padding: 0 16px;
  list-style-type: none;
  gap: 16px;
}
a {
  /* this removes the line under our links */
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    margin-top: 32px;
    /* align-items: stretch */
    /* padding-right: 60px; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    gap: 60px;
}

.hero .left-side {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    width: 500px
    
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 12px;
}

.hero-sub-text{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 12px;
}

.img {
    width: 500px;
}   

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 36px;
}
.info-row {
    display: flex;
    justify-content: center;
    gap: 36px;
    margin-left: 60px;
    margin-right: 60px;
}
.img-box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    font-size: 18px;
    color: #f9faf8;
    width: 175px;
}   

.image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid #3882f6;
    background-color: #3882f6;
    border-radius: 18px;
    aspect-ratio: 1 / 1;
    width: 175px;
}

.image-box img {
    width: 100%;
    border-radius: 16px;
}
.image-text {
    font-size: 18px;
    color: #8d9298;
    margin-bottom: 12px;
    text-align: center;
    width: 175px;
}

.quote-section { 
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

blockquote {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 60px 250px; 
} 

blockquote footer {
    font-weight: 900;
    margin-left: 350px;
    margin-bottom: 60px;
}

.call-to-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 24px;
    border-radius: 12px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #3882f6;
    height: 150px;
}   

.action-text-1 {
    font-size: 24px;
    color: #f9faf8;
}
.action-text-2 {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 6px;
}      
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 60px;
    background: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}