body {
  margin: 0;
  background: #eee;
  font-family: Roboto, sans-serif;
  padding-left: 60px;
}
.header-hero {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 60px;
    background: #1f2937;
}   
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 60px; */
    padding-left: 60px;
    padding-right: 60px;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    /* padding: 0 16px; */
}
.header .links {
    display: flex;
    align-items: center;
    font-size: 18px;
}
ul {
  display: flex;
  align-items: center;
  padding: 0 16px;
  list-style-type: none;
  gap: 16px;
}
a {
  /* this removes the line under our links */
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    margin-top: 32px;
    /* align-items: stretch */
    /* padding-right: 60px; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    gap: 60px;
}

.hero .left-side {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    width: 500px
    
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 12px;
}

.hero-sub-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 12px;
}

.img {
    width: 500px;
}   

      